.task-body{
    border: 2px solid rgb(7, 7, 58);
    background-color: rgb(0, 6, 3);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.task-body p{
    margin: 0;
    color: rgb(237, 237, 245);
}